.quote{
    padding: 30px;
    gap:px;
}

.quote h2{
    font-size: 25px;
}

.quote h3{
    margin-top: 0;
    font-style: italic;
    text-align: right;
    margin-right: 250px;
}

.addbtn{
    
    margin:0 auto;
    border: 1px solid plum;
    border-radius: 19px;
    width:50%;
    padding: 20px;
    background-color:rgba(221, 126, 238, 0.214)
}

.addbtn button{
    color: aliceblue;
    font-size: 30px;
    background-color: plum;
    outline: none;
    border:none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    transition: 0.4s ease;
    &:hover{
        transform: scale(1.1);
        background-color: rgb(238, 83, 238);
    }
}

.myjour h2{
    font-size: 35px;
    text-align: left;
    margin-left: 8%;
    margin-top:38px ;
}